.App {
  text-align: center;
  color: black;
  background-color: #e6be8a;
}

td {
  margin-left: 5%;
  margin-right: 5%;
  width: 20%;
}

tr{
  margin-top: 2%;
  margin-bottom: 2%;
}

.rows {
  border: #67605a solid;
  background-color: #808000;
}

.rows:hover{
  background-color: #a25010;
}

.columns{
  margin-left: 5%;
  margin-right: 5%
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #58daf1;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #58daf1;
  text-align: right;
  color: black;
  margin-top: 10%;
}

.App-link {
  color: #09d3ac;
}

.create-btn {
  background-color: #09d3ac;
  cursor: pointer; 
  font-size: 15px;
  border-radius: 44px;
  border: 2px solid #2e2f33;
  margin-left: 2px;
}

.updates-btn {
  background-color: #a32f1b;
  cursor: pointer; 
  font-size: 15px;
  border-radius: 44px;
  border: 2px solid #090a0a;
}

.qty-btn {
  background-color: #e8621a;
  cursor: pointer; 
  font-size: 15px;
  border-radius: 44px;
  border: 2px solid #090a0a;
  margin-left: 2px;
}

.input-bx {
  background-color: #58daf1;
}

.center {
  display: flex;

  text-align: center;
  align-items: center;
}

#updates {
  display: none;
}

